
h1 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 65px;
    margin-top: -30px;
    text-transform: capitalize;
}

#logo {
    display: block;
    width: 202.98px;
    height: 50.49px;
    margin-top: 10px;
    margin-left: 10px;
}
#exit_btn {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 105px;
    height: 40px;
    color: #341f97;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    outline: none;
    cursor: pointer;
    font: bold 15px Verdana;
    letter-spacing: 1px;
    transition: 0.40s all;
}
#exit_btn:hover {
    background-color: #341f97;
    color:white;
    transition: 0.40s all;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255,255,255,0.3);
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
tr  {
    opacity:0.9;
}
td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

td input[type=button],td a {
        display:block;
        width: 90%;
        text-decoration: none;
        border: none;
        text-align:center;
        padding: 10% 0;
        font-size: 15px;
        background-color: #ff00008c;
        color: white;
        border-radius: 5px;
        letter-spacing: 1px;
        box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
        cursor: pointer;
        outline: none;
        transition: 0.2s all;
}
tr:hover {
    opacity:1;
}
td input[type=button]:active{
        transform: scale(0.90);
        /* Scaling button to 0.98 to its original size */
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        /* Lowering the shadow */
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

/* table buttons */



body {
    background: #341f97;
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 50px;
}

h1 span {
    margin-left: 20px;
}
#section-alertBox {
    margin: 0;
    width: 600px;
    height: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    border: 1px solid #c8c6c6;
    background-color: #ebe8e8;
    text-align: center;
}

    #section-alertBox h1 {
        margin: 0 0 25px 0;
        letter-spacing: 3px;
        color: black;
    }

    #section-alertBox img {
        display: block;
        margin: 10px auto;
    }

    #section-alertBox span {
        font: 20px Verdana;
    }
footer button {
    display: block;
    width: 170px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #341f97;
    font: bold 15px Verdana;
    background-color: white;
    margin-top: 30px;
    margin-right: 40px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 10px;
    float: left;
    transition: 0.50s all;
}

    footer button:hover {
        background-color: #0b3cc4;
        color: white;
        border-color: transparent;
    }

.delete-query:hover {
    background-color: #dd1e1e;
    color: white;
    border-color: transparent;
}

footer {
    position: fixed;
    left: 30px;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-family: Verdana;
}
#section-alertBox footer button {
    margin-left: 65px;
    margin-right: 0;
}

#alert_delete {
    color: red;
}

#alert_cancel {
    color: green;
}

#alert_cancel:hover {
    color: white;
    background-color: green;
}

#alert_delete:hover {
    color: white;
    background-color: red;
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #000000;
}
