body {
    background-color: #341f97;
}

#logo {
    display: block;
    width: 202.98px;
    height: 50.49px;
    margin-top: 10px;
    margin-left: 10px;
}

#quiz-field {
    width: 800px;
    height: auto;
    background-color: #ecf0f1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
}

#quiz-header {
    width: 100%;
    height: 60px;
    background-color: white;
    box-sizing: border-box;
    padding: 20px 0 0 30px;
}

    #quiz-header h1 {
        font-size: 25px;
        text-align: center;
        letter-spacing:3px
    }

.add-query {
    width: 600px;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border-bottom: 2px solid #341f97;
    font: 20px Tahoma;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

    .add-query:focus {
        border-color: #110347;
    }

#quiz-body {
    padding: 30px;
    box-shadow: 2px -2px 2px -1px #767677;
}

.query {
    font: bold 25px Lato;
}

.variant, .true_variant {
    display: block;
    width: 300px;
    height: 45px;
    outline: none;
    border: none;
    background-color: transparent;
    border: 2px solid #341f97;
    box-sizing: border-box;
    font: 20px Tahoma;
    margin-top: 15px;
    margin-left: 10px;
    padding-left: 10px;
    border-radius: 25px;
}
.true_variant {
    color: #0b8119;
    cursor: pointer;
    border-color: #0b8119;
}

.true_variant option {
   background-color: #ecf0f1;
}
.next,#cancel {
    display: block;
    width: 170px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    font: 20px Trebuchet;
    letter-spacing: 3px;
    background-color: #341f97;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 100px;
    float:left;
    transition: 0.40s all;
}
#cancel {
    background-color:rgba(174, 34, 34,21);
}
.next:hover {
    background-color: white;
    color: #341f97;
}
#cancel:hover {
    background-color: white;
    color: rgba(174, 34, 34,21);
}
.next:active,#cancel:active {
    transform: scale(0.90);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333232;
    color: white;
    text-align: center;
    font-family: Verdana;
    opacity: 0.7;
}
