* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body {
    font-family: "Lato";
    background-color: #341f97;
}
.admin-btn, .home-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 105px;
    height: 40px;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    outline: none;
    cursor: pointer;
    font: bold 15px Verdana;
    letter-spacing: 1px;
    transition: 0.40s all;
}
    .admin-btn:hover, .home-btn:hover {
        background-color: #341f97;
        color: white;
        transition: 0.40s all;
    }
#quizlogo {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .username,.password {
    display: block;
    width: 350px;
    height: 40px;
    margin: 0 auto;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid white;
    color:white;
    text-align: center;
    font:25px Times;
    margin-top: 40px;
  }
  .password {
    margin-bottom: 50px;
  }
  #fail_log {
      color:#ff0000;
      position:absolute;
      margin-left:60px;
      margin-top:-35px;
      font-weight:bold;
      font-family: verdana;
  }
.login-btn {
    display: block;
    width: 260px;
    height: 55px;
    font: 25px Verdana;
    border: none;
    outline: none;
    color: #341f97;
    background: white;
    border: 2px solid #341f97;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 auto;
    transition: 0.40s ease-out;
}
  .login-btn:hover {
    color:white;
    background: #341f97;
    border-color:white;
    transition: 0.40s ease-out;
  }
  .username::placeholder,.password::placeholder {
    color:#b1aeae;
  }
  .welcome_text {
    width: 400px;
  }
  
  .welcome_form input {
    display: block;
    width: 100%;
  }
  
  .welcome_form input[type=text] {
    background-color: transparent;
    color: #fff;
    font-size: 30px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
  }
  .welcome_form input[type=text]::placeholder{
    color:#b1aeae;
  } 

  .welcome_form input[type=text]:focus {
    outline: none;
  }
  
  .welcome_form input[type=submit] {
    padding: 20px 0;
    border: none;
    outline:none;
    border-radius: 20px;
    background-color: #fff;
    color: #4631a9;
    font-size: 30px;
    transition: 0.4s all;
  }
  
  .welcome_form input[type=submit]:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    cursor: pointer;
    color:#341f97;
  }