body{
    background-color: #341f97;
}

#logo {
    display:block;
    width: 202.98px;
    height: 50.49px;
    margin-top: 10px;
    margin-left: 10px;
}
#quiz-field {
    width: 800px;
    height: auto;
    background-color: #ecf0f1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
}
#quiz-header {
    width: 100%;
    height: 60px;
    background-color: white;
    box-sizing: border-box;
    padding: 20px 0 0 30px;
}
.user-name {
    font: 20px Lato;
}
#time {
    width: 100px;
    height: 60px;
    font: 20px Times;
    background-color: #341f97;
    text-align: center;
    color: white;
    box-sizing: border-box;
    padding:15px 0 0 0;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 5px -7px 6px -1px #1b0d58;
}
#quiz-body {
    padding: 30px;
    box-shadow: 2px -2px 2px -1px #767677;
}
.query {
    font:bold 25px Lato;
}
.option-group li {
    display: block;
    width: 60%;
    padding: 15px;
    background-color: white;
    cursor: pointer;
    margin-top: 30px;
    box-sizing: border-box;
    font-family: Lato;
    border: 2px solid transparent;
    border-radius: 100px;
    transition: 0.40s all;
}
.option-group li:hover {
    border-color: #341f97;
    color:#341f97;
    transition: 0.40s all;
}
.next, .finish {
    display: block;
    width: 170px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    font: 15px Lato;
    background-color: #341f97;
    margin-top: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 20px;
    float: left;
    transition: 0.40s all;
}
.finish {
    width: 120px;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.89);
    margin-left: 450px;
}
.next:hover {
    background-color: white;
    color:#341f97;
}
.finish:hover {
    background-color:white;
    color:rgba(255, 0, 0, 0.89);
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333232;
    color: white;
    text-align: center;
    font-family: Verdana;
    opacity: 0.7;
}